In [2]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.tree import export_graphviz
df = pd.read_csv('train.csv')

In [3]:
#各変数のNaNの個数のチェック
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
class_mapping_1 = {'male': 0, 'female': 1}
class_mapping_2 = {'C': 0, 'Q': 1,'S':2}
df['Sex'] = df['Sex'].map(class_mapping_1)
df['Embarked'] = df['Embarked'].map(class_mapping_2)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,2.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,0.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,2.0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,2.0

In [6]:
#Age,Embarkedに含まれるNaNを平均値で補完
df=df.fillna(df.Age.mean())
df=df.fillna(df.Embarked.mean())
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,29.6991,2.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,0.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,29.6991,2.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,2.0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,29.6991,2.0

In [7]:
#特にSurvivedに関係のなさそうな変数の削除
df2=df.drop(['PassengerId','Name','Ticket','Cabin'], axis=1)

In [8]:
df2.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500       2.0
1         1       1    1  38.0      1      0  71.2833       0.0
2         1       3    1  26.0      0      0   7.9250       2.0
3         1       1    1  35.0      1      0  53.1000       2.0
4         0       3    0  35.0      0      0   8.0500       2.0

In [9]:
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
X_1 = df2.iloc[:,1:8]
y_1 = df2['Survived']
X_1_train, X_1_test, y_1_train, y_1_test = train_test_split(X_1, y_1, test_size=0.3, random_state=0)

In [17]:
#勾配ブーストでやるためにグリッドサーチにかける
param_grid = {'max_depth': [1, 2, 3, 4, 5, 6],'learning_rate': [ 0.01, 0.1,0.5,0.8, 1,5, 10],'n_estimators':[10,100,300]}
# 層化
from sklearn.model_selection import StratifiedKFold
kf_5 = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [18]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

In [19]:
gs_GBC= GridSearchCV(GradientBoostingClassifier(), param_grid, cv=kf_5)

In [20]:
gs_GBC.fit(X_1_train, y_1_train)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=0, shuffle=True),
       error_score='raise',
       estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_depth': [1, 2, 3, 4, 5, 6], 'learning_rate': [0.01, 0.1, 0.5, 0.8, 1, 5, 10], 'n_estimators': [10, 100, 300]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [22]:
gs_GBC.best_params_

{'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 100}

In [23]:
gs_GBC.score(X_1_test, y_1_test)

0.84328358208955223

In [30]:
gbct = GradientBoostingClassifier(random_state=0, max_depth=3, learning_rate=0.1,n_estimators=100)

In [31]:
gbct.fit(X_1_train, y_1_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=0, subsample=1.0, verbose=0,
              warm_start=False)

In [36]:
dftest=pd.read_csv('test.csv')
class_mapping_1 = {'male': 0, 'female': 1}
class_mapping_2 = {'C': 0, 'Q': 1,'S':2}
dftest['Sex'] = dftest['Sex'].map(class_mapping_1)
dftest['Embarked'] = dftest['Embarked'].map(class_mapping_2)

In [37]:
dftest=dftest.drop(['PassengerId','Name','Ticket','Cabin'], axis=1)
dftest=dftest.fillna(dftest.Age.mean())
dftest=dftest.fillna(dftest.Embarked.mean())

In [38]:
gbct.predict_proba(dftest)

array([[ 0.88049538,  0.11950462],
       [ 0.91366713,  0.08633287],
       [ 0.98129201,  0.01870799],
       [ 0.84023114,  0.15976886],
       [ 0.53442554,  0.46557446],
       [ 0.60173084,  0.39826916],
       [ 0.57062126,  0.42937874],
       [ 0.81943814,  0.18056186],
       [ 0.08442931,  0.91557069],
       [ 0.93806293,  0.06193707],
       [ 0.89697492,  0.10302508],
       [ 0.86691026,  0.13308974],
       [ 0.03806656,  0.96193344],
       [ 0.97686018,  0.02313982],
       [ 0.12914327,  0.87085673],
       [ 0.07387773,  0.92612227],
       [ 0.86887051,  0.13112949],
       [ 0.83015706,  0.16984294],
       [ 0.50160217,  0.49839783],
       [ 0.76820086,  0.23179914],
       [ 0.87436036,  0.12563964],
       [ 0.61407471,  0.38592529],
       [ 0.06991106,  0.93008894],
       [ 0.69657047,  0.30342953],
       [ 0.01677501,  0.98322499],
       [ 0.91571563,  0.08428437],
       [ 0.05163958,  0.94836042],
       [ 0.83015706,  0.16984294],
       [ 0.62172518,  0.37827482],
       [ 0.84546477,  0.15453523],
       [ 0.90703265,  0.09296735],
       [ 0.91820411,  0.08179589],
       [ 0.43910843,  0.56089157],
       [ 0.67380403,  0.32619597],
       [ 0.39222569,  0.60777431],
       [ 0.84721596,  0.15278404],
       [ 0.60352307,  0.39647693],
       [ 0.61040326,  0.38959674],
       [ 0.9238271 ,  0.0761729 ],
       [ 0.6237844 ,  0.3762156 ],
       [ 0.88309356,  0.11690644],
       [ 0.44728639,  0.55271361],
       [ 0.90994572,  0.09005428],
       [ 0.13427918,  0.86572082],
       [ 0.06617364,  0.93382636],
       [ 0.89894648,  0.10105352],
       [ 0.82879396,  0.17120604],
       [ 0.86612431,  0.13387569],
       [ 0.07985142,  0.92014858],
       [ 0.44538764,  0.55461236],
       [ 0.80302124,  0.19697876],
       [ 0.76121508,  0.23878492],
       [ 0.1673665 ,  0.8326335 ],
       [ 0.08543811,  0.91456189],
       [ 0.8159556 ,  0.1840444 ],
       [ 0.97019016,  0.02980984],
       [ 0.91808983,  0.08191017],
       [ 0.91949187,  0.08050813],
       [ 0.88035471,  0.11964529],
       [ 0.03336322,  0.96663678],
       [ 0.91375558,  0.08624442],
       [ 0.69367197,  0.30632803],
       [ 0.885723  ,  0.114277  ],
       [ 0.13135885,  0.86864115],
       [ 0.19018882,  0.80981118],
       [ 0.09777016,  0.90222984],
       [ 0.2078002 ,  0.7921998 ],
       [ 0.87548728,  0.12451272],
       [ 0.62649534,  0.37350466],
       [ 0.06614328,  0.93385672],
       [ 0.17925001,  0.82074999],
       [ 0.90588036,  0.09411964],
       [ 0.54863728,  0.45136272],
       [ 0.61930781,  0.38069219],
       [ 0.0516696 ,  0.9483304 ],
       [ 0.72698739,  0.27301261],
       [ 0.87059625,  0.12940375],
       [ 0.1123561 ,  0.8876439 ],
       [ 0.86244229,  0.13755771],
       [ 0.17925001,  0.82074999],
       [ 0.04842939,  0.95157061],
       [ 0.91467302,  0.08532698],
       [ 0.60217493,  0.39782507],
       [ 0.89697492,  0.10302508],
       [ 0.84157692,  0.15842308],
       [ 0.81168489,  0.18831511],
       [ 0.14271467,  0.85728533],
       [ 0.6329852 ,  0.3670148 ],
       [ 0.58216904,  0.41783096],
       [ 0.0762495 ,  0.9237505 ],
       [ 0.32692369,  0.67307631],
       [ 0.87951183,  0.12048817],
       [ 0.06812894,  0.93187106],
       [ 0.87059625,  0.12940375],
       [ 0.76843767,  0.23156233],
       [ 0.88782118,  0.11217882],
       [ 0.06950746,  0.93049254],
       [ 0.83149992,  0.16850008],
       [ 0.40550173,  0.59449827],
       [ 0.84151182,  0.15848818],
       [ 0.0647214 ,  0.9352786 ],
       [ 0.83779632,  0.16220368],
       [ 0.86612431,  0.13387569],
       [ 0.82966882,  0.17033118],
       [ 0.27610677,  0.72389323],
       [ 0.87416075,  0.12583925],
       [ 0.84496273,  0.15503727],
       [ 0.86612431,  0.13387569],
       [ 0.87059625,  0.12940375],
       [ 0.87499304,  0.12500696],
       [ 0.87279965,  0.12720035],
       [ 0.58216904,  0.41783096],
       [ 0.05107914,  0.94892086],
       [ 0.08003571,  0.91996429],
       [ 0.05276863,  0.94723137],
       [ 0.82508748,  0.17491252],
       [ 0.95643173,  0.04356827],
       [ 0.11219393,  0.88780607],
       [ 0.60993243,  0.39006757],
       [ 0.0995909 ,  0.9004091 ],
       [ 0.07995717,  0.92004283],
       [ 0.86930134,  0.13069866],
       [ 0.06268294,  0.93731706],
       [ 0.92153747,  0.07846253],
       [ 0.86612431,  0.13387569],
       [ 0.43273177,  0.56726823],
       [ 0.83770122,  0.16229878],
       [ 0.41844014,  0.58155986],
       [ 0.85030439,  0.14969561],
       [ 0.89477743,  0.10522257],
       [ 0.70844813,  0.29155187],
       [ 0.77742519,  0.22257481],
       [ 0.66103423,  0.33896577],
       [ 0.93514609,  0.06485391],
       [ 0.87316656,  0.12683344],
       [ 0.88563466,  0.11436534],
       [ 0.77397855,  0.22602145],
       [ 0.83604489,  0.16395511],
       [ 0.62748426,  0.37251574],
       [ 0.89482061,  0.10517939],
       [ 0.88554306,  0.11445694],
       [ 0.13607048,  0.86392952],
       [ 0.89606428,  0.10393572],
       [ 0.86619688,  0.13380312],
       [ 0.35047183,  0.64952817],
       [ 0.90663425,  0.09336575],
       [ 0.79692924,  0.20307076],
       [ 0.88776035,  0.11223965],
       [ 0.44728639,  0.55271361],
       [ 0.8749913 ,  0.1250087 ],
       [ 0.02629842,  0.97370158],
       [ 0.8617916 ,  0.1382084 ],
       [ 0.97124238,  0.02875762],
       [ 0.55670819,  0.44329181],
       [ 0.9446927 ,  0.0553073 ],
       [ 0.88828422,  0.11171578],
       [ 0.09958611,  0.90041389],
       [ 0.42307544,  0.57692456],
       [ 0.35047183,  0.64952817],
       [ 0.49046692,  0.50953308],
       [ 0.65025751,  0.34974249],
       [ 0.04842939,  0.95157061],
       [ 0.10813508,  0.89186492],
       [ 0.7774985 ,  0.2225015 ],
       [ 0.87798674,  0.12201326],
       [ 0.3870115 ,  0.6129885 ],
       [ 0.59526038,  0.40473962],
       [ 0.93604094,  0.06395906],
       [ 0.10853258,  0.89146742],
       [ 0.52008566,  0.47991434],
       [ 0.94202299,  0.05797701],
       [ 0.77397855,  0.22602145],
       [ 0.79215746,  0.20784254],
       [ 0.91470874,  0.08529126],
       [ 0.84990953,  0.15009047],
       [ 0.09252055,  0.90747945],
       [ 0.09455566,  0.90544434],
       [ 0.8021948 ,  0.1978052 ],
       [ 0.06624581,  0.93375419],
       [ 0.0669123 ,  0.9330877 ],
       [ 0.86244229,  0.13755771],
       [ 0.41422029,  0.58577971],
       [ 0.05058013,  0.94941987],
       [ 0.86612431,  0.13387569],
       [ 0.06178839,  0.93821161],
       [ 0.88137541,  0.11862459],
       [ 0.10813906,  0.89186094],
       [ 0.94688261,  0.05311739],
       [ 0.92171885,  0.07828115],
       [ 0.87798674,  0.12201326],
       [ 0.83909278,  0.16090722],
       [ 0.78427419,  0.21572581],
       [ 0.70443008,  0.29556992],
       [ 0.98129201,  0.01870799],
       [ 0.15396972,  0.84603028],
       [ 0.87418444,  0.12581556],
       [ 0.02422843,  0.97577157],
       [ 0.42328841,  0.57671159],
       [ 0.88795107,  0.11204893],
       [ 0.60352307,  0.39647693],
       [ 0.42551837,  0.57448163],
       [ 0.08250499,  0.91749501],
       [ 0.74013492,  0.25986508],
       [ 0.03277917,  0.96722083],
       [ 0.91871414,  0.08128586],
       [ 0.76430648,  0.23569352],
       [ 0.68326855,  0.31673145],
       [ 0.88795107,  0.11204893],
       [ 0.10052465,  0.89947535],
       [ 0.93654069,  0.06345931],
       [ 0.71501705,  0.28498295],
       [ 0.95347963,  0.04652037],
       [ 0.7465956 ,  0.2534044 ],
       [ 0.25807128,  0.74192872],
       [ 0.99471158,  0.00528842],
       [ 0.72349934,  0.27650066],
       [ 0.55429954,  0.44570046],
       [ 0.96127468,  0.03872532],
       [ 0.09850656,  0.90149344],
       [ 0.87059625,  0.12940375],
       [ 0.10697537,  0.89302463],
       [ 0.88776035,  0.11223965],
       [ 0.14788534,  0.85211466],
       [ 0.83770122,  0.16229878],
       [ 0.1862471 ,  0.8137529 ],
       [ 0.46684895,  0.53315105],
       [ 0.84730965,  0.15269035],
       [ 0.58216904,  0.41783096],
       [ 0.88855211,  0.11144789],
       [ 0.86204186,  0.13795814],
       [ 0.39581663,  0.60418337],
       [ 0.05264379,  0.94735621],
       [ 0.94321271,  0.05678729],
       [ 0.85239257,  0.14760743],
       [ 0.59131863,  0.40868137],
       [ 0.87809093,  0.12190907],
       [ 0.8411473 ,  0.1588527 ],
       [ 0.83015706,  0.16984294],
       [ 0.14862173,  0.85137827],
       [ 0.02061494,  0.97938506],
       [ 0.1862471 ,  0.8137529 ],
       [ 0.21040504,  0.78959496],
       [ 0.51927106,  0.48072894],
       [ 0.89697492,  0.10302508],
       [ 0.90342911,  0.09657089],
       [ 0.77186448,  0.22813552],
       [ 0.10813906,  0.89186094],
       [ 0.77632093,  0.22367907],
       [ 0.0995909 ,  0.9004091 ],
       [ 0.50447452,  0.49552548],
       [ 0.35180768,  0.64819232],
       [ 0.852974  ,  0.147026  ],
       [ 0.60375632,  0.39624368],
       [ 0.89477743,  0.10522257],
       [ 0.75583584,  0.24416416],
       [ 0.94202299,  0.05797701],
       [ 0.86612431,  0.13387569],
       [ 0.87059625,  0.12940375],
       [ 0.14788534,  0.85211466],
       [ 0.87563643,  0.12436357],
       [ 0.8941235 ,  0.1058765 ],
       [ 0.87809093,  0.12190907],
       [ 0.1210927 ,  0.8789073 ],
       [ 0.15320758,  0.84679242],
       [ 0.82226598,  0.17773402],
       [ 0.89697492,  0.10302508],
       [ 0.95244137,  0.04755863],
       [ 0.94202299,  0.05797701],
       [ 0.60352307,  0.39647693],
       [ 0.8969793 ,  0.1030207 ],
       [ 0.77200394,  0.22799606],
       [ 0.86612431,  0.13387569],
       [ 0.04808672,  0.95191328],
       [ 0.43963944,  0.56036056],
       [ 0.91470874,  0.08529126],
       [ 0.11012932,  0.88987068],
       [ 0.86244229,  0.13755771],
       [ 0.8834991 ,  0.1165009 ],
       [ 0.87272576,  0.12727424],
       [ 0.88053953,  0.11946047],
       [ 0.62748426,  0.37251574],
       [ 0.06188778,  0.93811222],
       [ 0.58216904,  0.41783096],
       [ 0.35442239,  0.64557761],
       [ 0.12806622,  0.87193378],
       [ 0.95164414,  0.04835586],
       [ 0.93470531,  0.06529469],
       [ 0.62294924,  0.37705076],
       [ 0.91470874,  0.08529126],
       [ 0.87059625,  0.12940375],
       [ 0.79692924,  0.20307076],
       [ 0.35609791,  0.64390209],
       [ 0.91470874,  0.08529126],
       [ 0.60540846,  0.39459154],
       [ 0.87021598,  0.12978402],
       [ 0.86942461,  0.13057539],
       [ 0.22575758,  0.77424242],
       [ 0.84546477,  0.15453523],
       [ 0.79692924,  0.20307076],
       [ 0.85968186,  0.14031814],
       [ 0.78433125,  0.21566875],
       [ 0.82689707,  0.17310293],
       [ 0.94348697,  0.05651303],
       [ 0.89477743,  0.10522257],
       [ 0.58216904,  0.41783096],
       [ 0.12779617,  0.87220383],
       [ 0.9465383 ,  0.0534617 ],
       [ 0.56174021,  0.43825979],
       [ 0.84338243,  0.15661757],
       [ 0.90104059,  0.09895941],
       [ 0.8969793 ,  0.1030207 ],
       [ 0.83015706,  0.16984294],
       [ 0.94202299,  0.05797701],
       [ 0.72147899,  0.27852101],
       [ 0.04192199,  0.95807801],
       [ 0.14271021,  0.85728979],
       [ 0.88525811,  0.11474189],
       [ 0.88053953,  0.11946047],
       [ 0.8272638 ,  0.1727362 ],
       [ 0.9125967 ,  0.0874033 ],
       [ 0.82966882,  0.17033118],
       [ 0.87454567,  0.12545433],
       [ 0.83604489,  0.16395511],
       [ 0.37247753,  0.62752247],
       [ 0.05285487,  0.94714513],
       [ 0.92014189,  0.07985811],
       [ 0.1220141 ,  0.8779859 ],
       [ 0.77200394,  0.22799606],
       [ 0.86855178,  0.13144822],
       [ 0.88053953,  0.11946047],
       [ 0.05498331,  0.94501669],
       [ 0.69093   ,  0.30907   ],
       [ 0.91470874,  0.08529126],
       [ 0.17708602,  0.82291398],
       [ 0.8648562 ,  0.1351438 ],
       [ 0.78427419,  0.21572581],
       [ 0.69367197,  0.30632803],
       [ 0.98415569,  0.01584431],
       [ 0.90927321,  0.09072679],
       [ 0.91470874,  0.08529126],
       [ 0.87499304,  0.12500696],
       [ 0.89005034,  0.10994966],
       [ 0.91223155,  0.08776845],
       [ 0.02488475,  0.97511525],
       [ 0.88629172,  0.11370828],
       [ 0.25807382,  0.74192618],
       [ 0.83604489,  0.16395511],
       [ 0.6913529 ,  0.3086471 ],
       [ 0.88795107,  0.11204893],
       [ 0.03766498,  0.96233502],
       [ 0.13300082,  0.86699918],
       [ 0.91871414,  0.08128586],
       [ 0.89285099,  0.10714901],
       [ 0.80287529,  0.19712471],
       [ 0.12806622,  0.87193378],
       [ 0.75683021,  0.24316979],
       [ 0.14866723,  0.85133277],
       [ 0.87205002,  0.12794998],
       [ 0.86612431,  0.13387569],
       [ 0.61276143,  0.38723857],
       [ 0.90749285,  0.09250715],
       [ 0.06428771,  0.93571229],
       [ 0.03766498,  0.96233502],
       [ 0.84023114,  0.15976886],
       [ 0.04750755,  0.95249245],
       [ 0.73262002,  0.26737998],
       [ 0.84850268,  0.15149732],
       [ 0.66324093,  0.33675907],
       [ 0.13300082,  0.86699918],
       [ 0.79796546,  0.20203454],
       [ 0.8864603 ,  0.1135397 ],
       [ 0.02596683,  0.97403317],
       [ 0.90835787,  0.09164213],
       [ 0.93851334,  0.06148666],
       [ 0.040443  ,  0.959557  ],
       [ 0.04631415,  0.95368585],
       [ 0.76234434,  0.23765566],
       [ 0.88053953,  0.11946047],
       [ 0.929218  ,  0.070782  ],
       [ 0.77242025,  0.22757975],
       [ 0.86612431,  0.13387569],
       [ 0.79037168,  0.20962832],
       [ 0.59902404,  0.40097596],
       [ 0.42330588,  0.57669412],
       [ 0.86244229,  0.13755771],
       [ 0.11194324,  0.88805676],
       [ 0.88331185,  0.11668815],
       [ 0.98989122,  0.01010878],
       [ 0.84196126,  0.15803874],
       [ 0.95348201,  0.04651799],
       [ 0.61812888,  0.38187112],
       [ 0.09485205,  0.90514795],
       [ 0.56181611,  0.43818389],
       [ 0.94465819,  0.05534181],
       [ 0.96268243,  0.03731757],
       [ 0.07939882,  0.92060118],
       [ 0.8574764 ,  0.1425236 ],
       [ 0.02921066,  0.97078934],
       [ 0.87563643,  0.12436357],
       [ 0.88837715,  0.11162285],
       [ 0.09958611,  0.90041389],
       [ 0.88726006,  0.11273994],
       [ 0.05163958,  0.94836042],
       [ 0.79789359,  0.20210641],
       [ 0.7607488 ,  0.2392512 ],
       [ 0.6537903 ,  0.3462097 ],
       [ 0.89354891,  0.10645109],
       [ 0.7880974 ,  0.2119026 ],
       [ 0.65025751,  0.34974249],
       [ 0.15320758,  0.84679242],
       [ 0.58216904,  0.41783096],
       [ 0.03275879,  0.96724121],
       [ 0.3733941 ,  0.6266059 ],
       [ 0.87059625,  0.12940375],
       [ 0.0299298 ,  0.9700702 ],
       [ 0.95774068,  0.04225932],
       [ 0.87059625,  0.12940375],
       [ 0.76799082,  0.23200918]])

In [39]:
gbct.predict_proba(dftest).shape

(418, 2)

In [40]:
def answer(model,n):
    arr= np.array( [] )
    for i in range(0,n):
        if model[i,0]>=0.5:
            arr =np.append( arr, 0)
        else:
            arr =np.append( arr, 1 )
    return arr

In [41]:
a=answer(gbct.predict_proba(dftest),418)

In [42]:
A = pd.DataFrame(a)

In [43]:
A.to_csv('answer2.csv')